.txt::placeholder {
  color: black;
  opacity: 1;
}

.hvr:hover {
  border: 2px solid rgb(221, 216, 216);
}

.text-justify {
  text-align: justify;
  width: 100%;
}

.text-grey {
  color: #b3b3b3;
}

.home-icon {
  border-radius: 50%;
  background-color: #2a2a2a;
  padding: 2.3% !important;
  transition: 0.2s all;
}

.home-icon:hover {
  transform: scale(1.05);
}

.search-bar{
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.search-bar:hover{
  background: #2a2a2a;
}


.search-bar:hover .search-Icon svg{
  fill: white;
}

.search-bar:focus-within {
  outline: 2.5px solid #ffff; 
  outline-offset: -2px ;
  background: #2a2a2a;
}


.search-bar:focus-within .search-Icon svg {
  fill:white
}
.search-input {
  outline: none;
  background: none;
  caret-color: white;
  color: white;
 
}

.home-icon:active {
  transform: scale(0.98);
}


.login-btn:hover {
  transform: scale(1.03, 1.08);
  transition: 33ms;
  background-color: rgb(107, 228, 107);
  border-color: rgb(107, 228, 107);
}

.font-size li {
  font-size: 0.9em;
  list-style-type: circle;
}

.b {
  border: 2px solid gray;
}

.grey {
  background-color: rgb(17, 16, 16);
}

.green-link:hover {
  text-decoration-color: rgb(107, 228, 107);
  color: rgb(107, 228, 107);
}

.wyt {
  color: white;
  text-decoration-color: white;
}

.eye {
  left: 88%;
  top: 18%;
}

.eye:hover {
  transform: scale(1.1);
}

.eye:hover path {
  fill: white;
}

.hvr-artist:hover {
  background: linear-gradient(to top, #4646464e 0%, transparent 100%);
  transition-duration: 0.5s;
}

.play {
  color: #1ed760 !important;
  position: absolute;
  top: 50%;
  left: 68%;
  display: none;
  background-color: black;
  border-radius: 50%;
  transition: 0.1s all;
}

.play div{
  background-color: #1ed760;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s all;

}

.play div:hover {
  background-color: #3be477 !important;
  transform: scale(1.03);
}

.play div:active{
  background-color: #148f3f !important;
  transform: scale(0.99);
}

.play .smallPlayIcon2 svg{
  fill: black;

}


.hyt {
  height: 18%;
}

.p:hover .play {
  display: block;
}

.p {
  position: relative;
}

.loading-hyt {
  height: 78vh;
}

.bg-music {
  background-color: #282828;
}

.music-icon {
  height: 60px;
  width: 60px;
}

/* single album css */

.artist-header {
  display: flex;
  align-items: center;
  padding: 20px;
  background: linear-gradient(180deg, #1e3264, #121212);
}

.text {
  font-size: 5rem;
}

.artist-header img {
  width: 232px;
  height: 232px;
  margin-right: 20px;
}

.artist-header .details {
  max-width: 600px;
}

.artist-header .details h1 {
  font-size: 64px;
  margin: 0;
}
.artist-header .details p {
  font-size: 13px;
  margin: 10px 0;
  color: #a6a6a6;
}
.artist-header .details .stats {
  display: flex;
  align-items: center;
  font-size: 13px;

  color: #a6a6a6;
}
.artist-header .details .stats i {
  margin-right: 5px;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  background: linear-gradient(180deg, #1e3264, #121212);
}

.playlist-header {
  display: flex;
  align-items: center;
  padding: 20px;
  background: linear-gradient(180deg, #494949, #121212);
}

.playlist-body {
  background-color: #121212;
}

.text {
  font-size: 5rem;
}
.header img {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}
.header .details {
  max-width: 600px;
}
.header .details h1 {
  font-size: 64px;
  margin: 0;
}
.header .details p {
  font-size: 13px;
  margin: 10px 0;
  color: #a6a6a6;
}
.header .details .stats {
  display: flex;
  align-items: center;
  font-size: 13px;

  color: #a6a6a6;
}
.header .details .stats i {
  margin-right: 5px;
}
.controls {
  display: flex;
  align-items: center;
  padding: 20px;
  column-gap: 2.5%;
}
.controls .play-button {
  background-color: #1ed760;
  border: none;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  cursor: pointer;
}
.controls .play-button i {
  font-size: 24px;
  color: black;
}


.play-button{
  transition: 0.05s all;
}
.play-button:hover {
  background-color: #3be477 !important;
  transform: scale(1.05);
}

.play-button:active{
  background-color: #148f3f !important;
  transform: scale(0.99);
}

.controls .other-controls i {
  font-size: 24px;
  margin-right: 20px;
  cursor: pointer;
}
.table-container {
  padding: 0 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th,
td {
  padding: 10px;
  text-align: left;
  
}
th {
  font-size: 14px;
  color: #b3b3b3;
}
td {
  font-size: 16px;
}
.table-container tr:hover {
  background-color: #282828;
}

.track-number {
  width: 30px;
}
.track-title {
  display: flex;
  align-items: center;
}
.track-title img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.footer {
  background-color: #282828;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.link {
  color: #1ed760 !important;
}
.auth-divider::before {
  content: "";
  height: 1px;
  position: relative;
  background-color: #a6a6a6;
  display: block;
}
.auth-divider div {
  position: absolute;
  top: 30%;
  left: 42%;
}

/* end custom css for single page */

/* popover css */

.popover-div {
  display: none;
  position: absolute;
  top: 10px;
  left: -5px;
}

.search-title-bar div{
  font-size: 14px;
  color: #b3b3b3;
}




.tr-border:hover {
  .popover-div,
  .addIcon {
    display: block;
  }

  .number {
    display: none;
  }
}

.popover {
  position: absolute;
  top: -30%;
  left: -25%;
  background-color: #333;
  color: white;
  text-wrap: nowrap;
  display: none;
  z-index: 1000;
}



.addIcon {
  position: absolute;
  top: 30%;
  left: -60%;
  cursor: pointer;
  display: none;
  transition: 0.1s ease-in;
}




.playlist-popover-content {
  position: absolute;
  display: none;
  top: -30%;
  left: -120%;
  background-color: #333;
  box-shadow: inset;
}

.addIcon:active{
  transform: scale(0.98);
}

.addIcon:hover svg {
  fill: white;
  transform: scale(1.1);
}

.editIcon {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.526);
  padding: 19%;
  border-radius: 3%;
  display: none;
}

.bg-music:hover .editIcon {
  display: block;
  transition: ease-in-out;
}

.pointer {
  cursor: pointer;
}

.fs-large {
  font-size: 5em;
  font-weight: 1000;
}

.login {
  /* background: linear-gradient(rgb(39, 37, 37) 50%, rgb(0, 0, 0) 100%); */
  background: linear-gradient(rgb(39, 37, 37) 50%, rgb(0, 0, 0) 100%);
}


.custom-tooltip {
  --bs-tooltip-bg: #2a2a2a;
  --bs-tooltip-color: var(--bs-white);
    font-weight: bolder;
  
}

.top-result{
  background-color: #181818;
  transition: 0.2s ease-in-out;
}

.top-result:hover {
  background-color: #292929;

}

.top-result:hover .top-play{
  visibility: visible;
}

.song-div{
  transition: 0.2s ease-in-out;
}
.song-div:hover {
  background-color: #292929;

}

.btn-div div button{
  background-color: #2a2a2a ;
  border: none;
  padding: 15px;
  transition: 0.2s ease-in;
}

.btn-div div button:hover{
  background-color: #3b3b3b; ;

}

.no-search{
  margin-top: 20%;
  background-color: #121212;

}

.searchNav button{
  color: black !important;
  background-color: white !important;
}

.song-bar{
  transition: 0.1s all;
}
.song-bar:hover{
background-color: #3b3b3b;

}
.top-play{
  width: 45px;
  height: 45px;
  background-color: #1ed760;
  top: 75%;
  left: 85%;
  visibility: hidden;
  transition: 0.2s all;
}

.top-play svg{
  fill: black;
  height: 24px;

}

.addIcon2{
  visibility: hidden;
  transition: 0.1 all;
  position: absolute;
  left: 75%;
}

.addIcon2:hover svg{
  fill: white;
  transform: scale(1.1);
}

.search-song-div{
  position: relative;
  
}

.search-play-icon {
  position: absolute;
  left: 3%;
  visibility: hidden;
 
}

.search-song-play-icon{
  position: absolute;
  left: 2%;
  visibility: hidden;
  transition: 0.1s all;
  
}

.song-bar:hover .song-index{
  visibility: hidden;
}


.song-bar:hover .search-song-play-icon, .song-bar:hover .addIcon3{
  visibility: visible;

}

.search-song-div:hover .addIcon2, .search-song-div:hover .search-play-icon{
    visibility: visible;
}

.addIcon3{
  position: absolute;
  left: 92%;
  visibility: hidden;
  transition: 0.1s all;
}

.addIcon3:hover svg{
  fill: white !important;
  transform: scale(1.1);
}


.Popup{
  background-color: #69bfff;
  border-radius: 7px;
  padding: 5%;
  width: 300px;
}

.Arrow {
  display: flex;

  &[data-side='top'] {
    bottom: -8px;
    rotate: 180deg;
  }

  &[data-side='bottom'] {
    top: -8px;
    rotate: 0deg;
  }

  &[data-side='left'] {
    right: -13px;
    rotate: 90deg;
  }

  &[data-side='right'] {
    left: -13px;
    rotate: -90deg;
  }
}


.arrow::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-bottom: 10px solid #69bfff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}


@media only screen and (max-width: 426px) {
  .login .div {
    padding: 0 !important;
  }
  .grey {
    display: none !important;
  }
  .login-bottom {
    display: none !important;
  }

  .sm-screen {
    display: block !important;
  }
}
