.txt::placeholder {
  color: #b3b3b3 !important;
  /* Change this to white */
  opacity: 1;
  /* Ensures the placeholder is fully opaque */
  padding: 10px;
}

body::-webkit-scrollbar{
  display: none;
  
}


.bg-base {
  background-color: #1f1f1f;
}

.padding {
  padding: 0.7em;
}

.green{
  background-color: #1ed760;
}

.nav-login-btn{
  transition: 0.1s ease-in-out;
}

.nav-login-btn:hover {
  transform: scale(1.05);
}

.nav-login-btn:active{
  transform: scale(1.02) !important;
}

.nav-signup-btn:hover {
  transform: scale(1.07);
  color: white;
}

.nav-signup-btn:hover .signup-text {
  color: white;
}

.signup-text {
  color: #555;
}

.grey {
  color: rgb(172, 170, 170);
}

.scroll {
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.2s ease-in-out;
  position: relative;
} 

.scroll::-webkit-scrollbar {
  width: 12px !important;

 
}

.w-175{
  width: 175px;
}

.hvr-grey{
  transition: 0.1s ease-in-out;
}

.hvr-grey:hover{
  background: #2a2a2a;
}


.scroll::-webkit-scrollbar-thumb:hover {
  background-color: #7c7c7c;
 
}


.scroll::-webkit-scrollbar-thumb {
  background-color: #5a5a5a;
  visibility: hidden;
  transition: 0.1s all;
 
}

.scroll:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.bottom-bg {
  background: linear-gradient(
    to right,
    #d244bf 0%,
    #a914c0 35%,
    #1b81f6 85%,
    rgb(3, 157, 252) 100%
  );
}

.signup-btn {
  padding-top: 2%;
  padding-bottom: 2%;
}

.signup-btn:hover {
  transform: scale(1.07, 1.02);
  transition: 33ms;
}

.reactPlayer {
  background-color: black !important;

  margin: 0 !important;
  padding-top: 5px !important;
  padding-bottom: 0 !important
}

.playIcon {
  background: #fff;
  color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18%;
  margin: 4%;
  transition: 0.1s all !important;
}

.Toastify__toast {
  padding: 0px !important;
  min-height: 0 !important;
  display: flex !important;
  justify-content: center;
  color: #121212 !important;
}

.custom-toast{
  height: 2rem !important;
  width: 15rem !important;
  border-radius: 5px !important;
}

.playIcon:active {
  transform: scale(0.98) !important;
}

.div-size{
  width: 17%;
}

.playIcon:hover {
  transform: scale(1.08);
}

.controls-btn:hover path {
  fill: white;
}

.controls-btn:hover svg {
  transform: scale(1.1);
}

.controls-btn:active {
  transform: scale(0.95);
}

.controls-btn {
  display: flex;
  justify-content: center;
  transition: 0.05s all;
}

.playlist-bar:hover {
  background-color: #2a2a2a;
  border-radius: 80%;
}

.musicIcon{
  background-color: #2c2c2c;
}

.playlist-bar:hover .musicIcon{
  background-color: #121212 !important;
}



.playlist-bar:hover .smallPlayIcon {
  visibility: visible;
}

.smallPlayIcon {
  visibility: hidden;
  left: 2%;
  padding: 3% 3.8%;
  background-color: transparent;
  transition: ease-in;
}


.active div:first-child{
  background-color: #3a3a3a !important;
}

.active div:first-child .musicIcon{
 background-color: #121212 !important
}


.plusIcon:hover{

  background-color: #2a2a2a;

}

.plusIcon:active{
  background-color: black !important;
}

.createPlaylist{
  border-radius: 3px;
}
.createPlaylist:hover{
  cursor: context-menu;
  background-color: #3a3a3a;
}


.library-div {
  transition: box-shadow 0.1s all;
}

.library-div-shadow {
  box-shadow: 0 10px 6px rgba(0, 0, 0, 0.5);
}

.not-now:hover{
    transform: scaleX(1.05);
    cursor: pointer;
}

.not-now:active{
  transform: scale(1);
  color: #555;
}


.Popup2{
  background-color: #2c2c2c;
  border-radius: 4px;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.7);

}

.z-9999{
  z-index: 9999 !important;
}

.pointer:hover{
  cursor: pointer;
}


.modal-content {
  height: 418px;
  background: linear-gradient( to bottom, #044b65, #3a4142 ) !important;
  border: none;
}

.modal-body .nav-login-btn:hover{
  background-color: #3be477;

}

.close{
  color: #cac9c9;

}

.close-btn{
  left: 250px;
}

.close:hover{
  color: white;
  cursor: pointer;
  transform: scale(1.1);
}

.Popup3{
  background-color: #69bfff;
  border-radius: 7px;
  padding: 1%;
  width: 285px;
}


.activeRow {

  background-color: #5a5a5a;

 
  .popover-div,
  .addIcon{
    display: block;
  }

  .number{
    display: none;
  };

  
  
}

.activeRow:hover {
  background-color: #5a5a5a !important;
}

.activeRow{
  transition: 0.2s ease-in-out;
}

.playlist-popup{
  background-color: #1f1f1f;
    color: white;
    border-radius: 10px;
    width: 280px;
 
    

}

.popupLoading{
  height: 180px;
}

.checkbox input{
  position: absolute;
  display: none;
}


.checkbox div{
  border: 1px solid white;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 34%;
  left: 88%;
  padding: 0px;
  margin: 0px;
  
  
}

.checkbox input:checked ~ div{

  border: none ;

}

.hover-grey:hover{

  background-color: #363636;

}
.fs-small{
  font-size: x-small;
}


.text-select-none{
  user-select: none;
}

.small-Icon svg{
  height: 16px ;
  width: 16px;
  margin: 10px;
  
}


@media (min-width: 576px) {
  .modal-dialog {
      max-width: 50rem;
     
      margin-right: auto;
      margin-left: auto;
  }
}

