.txt::placeholder {
  color: #b3b3b3 !important;
  /* Change this to white */
  opacity: 1;
  /* Ensures the placeholder is fully opaque */
  padding: 10px;
}

.bg-base {
  background-color: #1f1f1f;
}

.padding {
  padding: 0.7em;
}

.nav-login-btn:hover {
  transform: scale(1.07);
  transition: 33ms;
}

.nav-signup-btn:hover {
  transform: scale(1.07);
  transition: 33ms;
  color: white;
}

.nav-signup-btn:hover .signup-text {
  color: white;
}

.signup-text {
  color: #555;
}

.grey {
  color: rgb(172, 170, 170);
}

.scroll {
  overflow-y: auto;
  overflow-x: hidden;
} 

.scroll::-webkit-scrollbar {
  transition: 0.2s all;
  width: 12px;

 
}

.w-175{
  width: 175px;
}

.hvr-grey{
  transition: 0.1s ease-in-out;
}

.hvr-grey:hover{
  background: #2a2a2a;
}


.scroll::-webkit-scrollbar-thumb:hover {
  background-color: #7c7c7c;
 
}


.scroll::-webkit-scrollbar-thumb {
  background-color: #5a5a5a;
  visibility: hidden;
  transition: 0.1s all;

 
}

.scroll:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.bottom-bg {
  background: linear-gradient(
    to right,
    #d244bf 0%,
    #a914c0 35%,
    #1b81f6 85%,
    rgb(3, 157, 252) 100%
  );
}

.signup-btn {
  padding-top: 2%;
  padding-bottom: 2%;
}

.signup-btn:hover {
  transform: scale(1.07, 1.02);
  transition: 33ms;
}

.reactPlayer {
  background-color: black !important;
}

.playIcon {
  background: #fff;
  color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18%;
  margin: 4%;
  transition: 0.1s all !important;
}

.playIcon:active {
  transform: scale(0.98) !important;
}

.playIcon:hover {
  transform: scale(1.08);
}

.controls-btn:hover path {
  fill: white;
}

.controls-btn:hover svg {
  transform: scale(1.1);
}

.controls-btn:active {
  transform: scale(0.95);
}

.controls-btn {
  display: flex;
  justify-content: center;
  transition: 0.05s all;
}

.playlist-bar:hover {
  background-color: #2a2a2a;
  border-radius: 80%;
}

.playlist-bar:hover .smallPlayIcon {
  visibility: visible;
}

.smallPlayIcon {
  visibility: hidden;
  left: 2%;
  padding: 3% 3.8%;
  background-color: #2a2a2a84;
  transition: ease-in;
}

.active {
  background-color: #3a3a3a;
  border-radius: 5px;
}


.plusIcon:hover{

  background-color: #2a2a2a;

}

.plusIcon:active{
  background-color: black;
}

.createPlaylist:hover{
  background-color: #3a3a3a;
}
